<section class="about">
    <div class="container">
        <div class="profile-header">
            <div class="profile-info">
                <h1>Ritik: A Kind-Hearted Innovator</h1>
            </div>
        </div>
        <p>Hi, my name is Ritik Patel, and I’m an international student at Georgian College, balancing my studies with a rewarding internship. I find creativity in coding and clarity in meditation, which keeps me grounded and inspired. When I’m not programming, I enjoy music, reading, cricket, and dancing. Traveling is a big part of my life, as it opens me up to new cultures and fresh ideas. Always ready for the next challenge, I’m passionate about learning new technologies and pushing the limits of my skills in the ever-evolving world of tech.</p>
    </div>
</section>
